.pawn {
    width: 1.5em;
    height: 1.5em;
    background-size: 1.5em 1.5em;
    background-repeat: no-repeat;
    flex-basis: 1.5em;
}

.playerSubRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gameListDot {
    width: 0.75em;
    height: 0.75em;
    background-color: #4caf50;
    border-radius: 50%;
    margin-Left: 0.5em
}

.gameListNew{
    border-radius: 0.5em;
    background-color: red;
    color: white;
    font-size: 0.75em;
    font-weight: bold;
    height: 1.8em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0.25em;
}