@keyframes slideIn {
    0% {
        visibility: hidden;
        width: 0
    }
    100% {
        visibility: visible;
        width: 15em
    }
}

@keyframes slideOut {
    0% {
        visibility: visible;
        width: 15em
    }
    100% {
        visibility: hidden;
        width: 0
    }
}

@keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}